* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #89f7fe 0%, #5196f6 100%);
}

.container {
    width: 400px;
    height: min-content;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
}

.serach-box {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serach-box input {
    width: 70%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    background-color: #e6f5fb;
    padding: 13px 17px;
    border-radius: 14px;
}

.serach-box button {
    width: 15%;
    height: 43px;
    background-color: #e6f5fb;
    cursor: pointer;
    border-radius: 59px;
    border: 1px solid #ccc;
}

.serach-box button:hover {
    color: white;
    background-color: rgb(91, 89, 89);

}

.weather-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}

.weather-body img {
    width: 60%;
}

.weather-box {
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature {
    font-size: 40px;
    font-weight: 800;
    position: relative;
}

.weather-box .temperature sup {
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.weather-box .description {
    font-size: 20px;
    font-weight: 700px;
    text-transform: capitalize;
}

.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity,
.wind {
    display: flex;
    align-items: center;
}

.humidity {
    margin-left: 18px;
}

.wind {
    margin-right: 18px;
}

.weather-details i {
    font-size: 32px;
}

.weather-details .text {
    margin-left: 10px;
    font-size: 16px;
}

.text span {
    font-size: 20px;
    font-weight: 700;
}